@tailwind base;
@tailwind components;
@tailwind utilities;

.current {
  font-weight: 500;
  color: #4A82C2;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 30px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background:  #7332cc ;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7332cc;
}